.github-gist .code-box {
    margin: 10px;
    padding: 5px;
    border: 0cap;
}

.github-gist .code-output-box {
    background-color: rgb(21, 22, 22);
    font-size: small;
    color: rgb(166, 255, 0);
    margin: 10px;
    padding: 5px;
    height: 150px;
    overflow-y: scroll;
}